# macOS
.DS_Store
.AppleDouble
.LSOverride

# Build artifacts
ackbar
Ackbar.app/
AppIcon.icns
*.swiftmodule
*.swiftdoc
*.dylib

# Xcode
*.xcodeproj/
*.xcworkspace/
*.playground/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
